<% title 'Servicios' %>
<div class="page servicio">
  <div class="container">
    <div class="row box">
      <div class="col-md-12 col-xs-12">
        <div class="col-md-5 col-xs-12 text">
          <h3 class="title">Especialistas en trabajos verticales.</h3>
          <ul class="list">
            <li><a href="#rehabilitacion-edificios">REHABILITACION DE EDIFICIOS</a></li>
            <li><a href="#impermeabilizacion">IMPERMEABILIZACION</a></li>
            <li><a href="#reparaciones-urgentes">REPARACIONES URGENTES</a></li>
            <li><a href="#instalaciones">INSTALACIONES</a><br><span>cambio de bajantes, colocacion carteles..</span></li>
            <li><a href="#otros-servicios">SERVICIOS QUE TAMBIEN OFRECEMOS</a></li>
            <li><a href="#interiores">DISEÑO INTERIORES</a></li>
          </ul>
        </div>
        <div class="col-md-6 col-xs-12 image">
          <%= image_tag("descolga2.png", :alt => "Descolga2", :class => 'logo') %>
          <%= image_tag("servicios.png", :alt => "Descolga2") %>
        </div>
      </div>
    </div>
    <div class="separator"></div>

    <div class="row box" id="rehabilitacion-edificios">
      <div class="col-md-12 col-xs-12">
        <div class="col-md-5 col-xs-12 text">
          <h3 class="title">Rehabilitación de Edificios.</h3>
          <div class="inner">
            <p>
              Realizamos todo tipo de trabajos de rehabilitación de fachadas, desde trabajos puntuales (frentes de forjado, terrazas, ladrillo, piedra, etc.) hasta la rehabilitación integral de fachadas, medianeras y patios de luces.
            </p>
            <p>
              Además podemos imitar todo tipo de detalles y acabados, desde los más tradicionales hasta los más modernos y de vanguardia, consiguiendo siempre una reparación limpia, en la que no se perciban los cambios o diferencias.
            </p>
            <ul>
              <li> Reparaci&oacute;n y pinturas de fachadas, patios de luces y medianeras.</li>
              <li> Reparaci&oacute;n de forjados</li>
              <li> Reparaci&oacute;n y sellado de juntas de dilataci&oacute;n </li>
              <li> Renovacion y reparacion de tejados. </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-xs-12 image">
          <%= image_tag("descolga2.png", :alt => "Descolga2", :class => 'logo') %>
          <%= image_tag("rehabilitacion.jpg", :alt => "Descolga2") %>
        </div>
      </div>
    </div>
    <div class="separator"></div>

    <div class="row box" id="impermeabilizacion">
      <div class="col-md-12 col-xs-12">
        <div class="col-md-5 col-xs-12 text">
          <h3 class="title">Impermeabilizacion</h3>
          <div class="inner">
            <p>
              Realizamos proyectos de impermeabilización de cubiertas planas, tejados, medianeras y espacios con problemas de humedad. Gestionamos el saneamiento, acondicionamiento y aplicación de productos de prevención de humedades. Ofreciendo a nuestros clientes variedad de opciones, adaptándonos siempre a sus necesidades prácticas y económicas.
            </p>
            <ul>
              <li> Plaqueta cerámica, hormigón, terrazos</li>
              <li> Plaquetas flotantes.</li>
              <li> Tela asfáltica</li>
              <li> Acabado en fibra de vidrio, poliéster y clorocaucho. </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-xs-12 image">
          <%= image_tag("descolga2.png", :alt => "Descolga2", :class => 'logo') %>
          <%= image_tag("impermeabilizacion.jpg", :alt => "Descolga2") %>
        </div>
      </div>
    </div>
    <div class="separator"></div>

    <div class="row box" id="reparaciones-urgentes">
      <div class="col-md-12 col-xs-12">
        <div class="col-md-5 col-xs-12 text">
          <h3 class="title">Reparaciones Urgentes</h3>
          <div class="inner">
            <p> Disponemos de un servicio de intervenci&oacute;n r&aacute;pido para situaciones<span>&nbsp; que requieran de una actuaci&oacute;n puntual, a la mayor brevedad. Como pueden ser:</span></p>
            <ul>
              <li>Saneado y reparaci&oacute;n de bufados, desconchados, grietas o elementos inestables en fachadas.</li>
              <li>Rotura de bajantes.</li>
              <li>Filtraci&oacute;n de agua en cubiertas y tejados.</li>
              <li>Goteras.</li>
              <li>Retirada o fijaci&oacute;n de elementos mal anclados en fachadas o en altura.</li>
              <li>Colocaci&oacute;n redes protectoras.</li>
              <li>Revisiones de fachadas con peligro de desprendimiento. </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-xs-12 image">
          <%= image_tag("descolga2.png", :alt => "Descolga2", :class => 'logo') %>
          <%= image_tag("reparaciones.jpg", :alt => "Descolga2") %>
        </div>
      </div>
    </div>
    <div class="separator"></div>

    <div class="row box" id="instalaciones">
      <div class="col-md-12 col-xs-12">
        <div class="col-md-5 col-xs-12 text">
          <h3 class="title">Instalaciones</h3>
          <div class="inner">
            <p>Otro de los servicios especilizados que ofrecemos son las instalaciones de fontaner&iacute;a&nbsp; y publicidad en zonas de dif&iacute;cil acceso.</p>
            <ul>
              <li>Tuber&iacute;as y canalones de evacuaci&oacute;n de agua</li>
              <li>Bajantes aguas fluviales y fecales</li>
              <li>Montantes de agua fr&iacute;a y caliente. </li>
              <li>Limpieza y mantenimiento de r&oacute;tulos en azote</li>
              <li>Tuber&iacute;as de ventilaci&oacute;n, industrial, calderas, chimeneas</li>
              <li>Montaje de pancartas publicitarias.</li>
              <li>Sistemas de disuasi&oacute;n de aves. </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-xs-12 image">
          <%= image_tag("descolga2.png", :alt => "Descolga2", :class => 'logo') %>
          <%= image_tag("instalaciones.png", :alt => "Descolga2") %>
        </div>
      </div>
    </div>
    <div class="separator"></div>

    <div class="row box" id="otros-servicios">
      <div class="col-md-12 col-xs-12">
        <div class="col-md-5 col-xs-12 text">
          <h3 class="title">Servicios que también ofrecemos</h3>
          <div class="inner">
            <span><b>- Mantenimiento de edificios:</b></span>
            <p class="inner">El mantenimiento adecuado es la mejor prevenci&oacute;n de mayores reparaciones. Con sencillas labores de limpieza y repaso de zonas cr&iacute;ticas, las goteras, humedades y otros desperfectos nunca tendr&aacute;n lugar. </p>
            <p class="inner">Contamos con programas de mantenimiento dise&ntilde;ados para comunidades, instituciones y aseguradoras, para ofrecer mantenimientos peri&oacute;dicos de los tejados y cubiertas. Se realizan revisiones mensuales, semestrales o anuales, dependiendo de las necesidades y del presupuesto&nbsp;de cada edificio, adapt&aacute;ndonos en&nbsp;cada caso para hallar los mejores resultados posibles.</p>
            <span><b>-Limpieza de cristales:</b></span>
            <p class="inner"> Mediante t&eacute;cnicas de trabajos verticales, nuestros especialistas en limpieza en altura de edificios y estructuras, reducir&aacute;n el tiempo de los trabajos, ocasionando el menor impacto posible sobre su entorno y su vida cotidiana.</p>
            <span><b>-Pintura en escaleras, rellanos y garajes.</b></span>
          </div>
        </div>
        <div class="col-md-6 col-xs-12 image">
          <%= image_tag("descolga2.png", :alt => "Descolga2", :class => 'logo') %>
          <%= image_tag("cristales.jpg", :alt => "Descolga2") %>
        </div>
      </div>
    </div>
    <div class="separator"></div>

    <div class="row box" id="interiores">
      <div class="col-md-12 col-xs-12">
        <div class="col-md-5 col-xs-12 text">
          <h3 class="title">Reforma y Diseño de Interiores</h3>
          <div class="inner">
            <p>
              Trabajamos en colaboración con el estudio de Diseño Interior  Loorke, especializado en reformas de locales comerciales y viviendas.
            </p>

          </div>
        </div>
        <div class="col-md-6 col-xs-12 image">
          <%= image_tag("descolga2.png", :alt => "Descolga2", :class => 'logo') %>
          <%= image_tag("interiores.png", :alt => "Descolga2") %>
        </div>
      </div>
    </div>
    <div class="separator"></div>

  </div>
</div>
<a href="#" class="scrollToTop">Subir</a>
