<div class="row category">
  <div class="col-md-12">
    <% if multi %>
    <div class="row titulo">
      <div class="col-md-12">
        <h2 class="title"><%= link_to category.title.capitalize, galeria_path(slug: category.slug) %></h2>
        <div class="separator min hidden"></div>
      </div>
    </div>
    <% end %>
    <div class="row images">
    <% if category.images.length > 0 %>
      <% category.images.each do |image| %>
        <div class="item">
          <a href="#" data-toggle="modal" data-target="#modal-img" data-image="<%= image.image.url %>"><%= image_tag image.image.url, :class => "img-responsive" %></a>
        </div>
      <% end %>
    <% else %>
    <div class="col-md-12">
      <p>No hay imagenes</p>
    </div>
    <% end %>
    </div>
  </div>
</div>
