<!-- Modal -->
<div class="modal fade" id="modal-img" tabindex="-1" role="dialog" aria-labelledby="ImageLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="row">
          <div class="col-md-12">
            <img src="#" class="modal-img">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('#modal-img').on('show.bs.modal', function (event) {
  var a = $(event.relatedTarget)
  var src = a.data('image')
  var modal = $(this)
  modal.find('.modal-img').attr("src", src)
  })
</script>
