<% title 'Trabajos' %>
<div class="page trabajos">
  <div class="container">
    <div class="row head">
      <div class="col-md-12">
        <h2 class="title">Trabajos Realizados</h2>
        <p>Te enseñamos nuestros últimos trabajos realizados.</p>
      </div>
    </div>

    <% if @categories.length > 0 %>
      <% @categories.each do |category| %>

        <%= render "category", category: category, multi: true %>
      <% end%>
    <% else %>
      <p>Ups.No hay Imagenes</p>
    <% end %>


    <div class="separator"></div>
  </div>

</div>
<%= render "modal" %>
