<% title 'Trabajos' %>
<div class="page trabajos">
  <div class="container">
    <div class="row head">
      <div class="col-md-12">
        <h2 class="title"><%= @category.title.capitalize %> <span><%= link_to "Más categorias", galerias_path %></span></h2>

      </div>
    </div>
    <div class="separator min"></div>
    <%= render "category", category: @category, multi: false %>

    <div class="separator"></div>
  </div>

</div>
