<% title 'Inicio' %>
<div class="page">
  <div class="slide">
    <%= image_tag("home.png", :alt => "Descolga2") %>
    <div class="box">
      <h1 class="title">Todos pueden, pero la manera de hacerlo nos diferencia. </h1>
    </div>
  </div>
  <div class="container">
    <div class="block">
      <div class="row">
        <div class="col-md-12">
          <h2 class="title">Soluciones desde lo mas alto</h2>
          <p class="sub-title">Descolga2 realizamos todo tipo de soluciones verticales en altura como rehabilitación de fachadas y limpieza de cristales.</p>
        </div>
      </div>
      <div class="row items">
        <div class="col-md-4 item">
          <%= image_tag("runner.png", :alt => "Descolga2") %>
          <h3>Rápidos</h3>
          <%#= link_to 'Conócenos', nosotros_path, class: 'btn btn-lg btn-primary' %>
        </div>
        <div class="col-md-4 item">
        <%= image_tag("save-money.png", :alt => "Descolga2") %>
          <h3>Económicos</h3>
          <%#= link_to 'Pide un presupuesto', contacto_path, class: 'btn btn-lg btn-primary' %>
        </div>
        <div class="col-md-4 item">
          <%= image_tag("check.png", :alt => "Descolga2") %>
          <h3>Eficaces</h3>
            <%#= link_to 'Nuestros servicios', servicios_path, class: 'btn btn-lg btn-primary' %>
        </div>
      </div>
    </div>
  <div class="separator"></div>
  </div>
</div>
