<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Tienes una peticion desde la web desde el formulario de contacto. <br><br>
    Nombre: <%= @contact.name %> <br>
    Telefono: <%= @contact.telefono %> <br>
    Email: <%= @contact.email %> <br>
    Texto: <%= @contact.content %> <br>
  </body>
</html>
