<% title 'Nosotros' %>
<div class="page nosotros">
  <div class="container">
    <div class="box">

      <div class="row">
        <div class="col-md-7">
          <div class="text">
            <h1 class="title">¿Quíen es Descolga2?</h1>
            <p>
              Somos una empresa especializada en la rehabilitación de edificios y trabajos de difícil acceso, con más de 12 años de experiencia, nos diferenciamos por la realización de los trabajos mediante  el sistema de Trabajos Verticales (descuelgue vertical con cuerdas en suspensión).
            </p>
            <p>
              Si fuere más conveniente, también podemos emplear otros medios como andamios tubulares o colgantes.
            </p>
            <p>
              Nuestra filosofía profesional se define por realizar los proyectos como si nosotros mismos fuéramos los clientes, ofreciendo total disponibilidad y una cercanía absoluta.
            </p>
            <p>
              Todo nuestro equipo cuenta con la formación adecuada para realizar dichos trabajos. Para nosotros es muy importante la seguridad laboral por lo que nuestro personal son Técnicos especialistas en seguridad en altura. Cumpliendo en todo momento con la normativa vigente.
            </p>
            <p>
              Ponemos a su disposición el más completo servicio de trabajos verticales en valencia, con máxima eficacia, rapidez y buen precio.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <%= image_tag("nosotros.JPG", :alt => "Descolga2") %>
        </div>
      </div>
      <div class="row blocks">
        <div class="col-md-12">
          <h2 class="title">VENTAJAS TRABAJOS VERTICALES</h2>
          <p>Una nueva forma de solucionar trabajos, anteponiendo la seguridad y las ventajas del trabajo en altura, en comparación con sistema de trabajo mas tradicionales</p>
        </div>
      </div>
      <div class="row items">
        <div class="col-md-3">
          <div class="item">
            <h3 class="title">Rápidez</h3>
            <p>
              Al minimizar el tiempo de instalación de los sistemas necesarios para llevar a cabo el trabajo, se reduce en mucho lo que se tarda en acometer la obra.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="item">
            <h3 class="title">Seguridad</h3>
            <p>Seguridad, el operario siempre está atado, contamos con niveles de siniestralidad cero. Ademas como no hay andamios, no hay posibilidad de que algún intruso se cuele en el edificio durante la obra. </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="item">
            <h3 class="title">Eficacia</h3>
            <p>Muy adecuado para llegar a sitios difíciles, ya que se puede acceder a áreas en las que es prácticamente imposible instalar un andamio, sin causar molestias a los inquilinos y en el menor tiempo posible</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="item">
            <h3 class="title">Ahorro</h3>
            <p>Suponen un ahorro para los vecinos del inmueble, ya que los costes de los trabajos se reducen en gran medida porque todo el proceso se puede realizar de manera más ágil y rápida. </p>
          </div>
        </div>
      </div>

    </div>
    <div class="separator"></div>
  </div>

</div>
