<% title 'Contacto' %>
<div class="page contact">
  <div class="container">
    <div class="row box">
      <h1 class="title">Contacta con nosotros</h1>
      <div class="col-md-4 col-xs-12">

        <%= form_for @contact, url: contacto_path do |form| %>
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <%= form.text_field :name, placeholder: "Nombre" %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <%= form.text_field :telefono, placeholder: "Teléfono" %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <%= form.text_field :email, placeholder: "Email" %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <%= form.text_area :content, placeholder: "Escríbenos.." %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <%= form.submit "Enviar", :class => 'btn btn-primary' %>
              </div>
            </div>
        <% end %>
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <% flash.each do |name, msg| %>
              <div class="alert <%= name == 'alert' ? 'alert-danger' : 'alert-success' %>">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <%= msg %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 text">
        <p>
          Da igual que seas particular o empresa, nuestro equipo te atenderá en la mayor brevedad posible y siempre con la garantía de un trabajo vertical bien hecho.
        </p>
        <p>
          <b>Email: </b><a href="mailto:info@descolga2.com">info@descolga2.com</a>
        </p>
        <p>
          <b>Teléfono: </b><a href="tel:622184190">622.184.190</a>
        </p>
        <p>
          <b>Horario: </b>Lunes a Viernes: 9:00 - 21:00
        </p>
        <p>
          <b>Web: </b><%= link_to 'www.descolga2.com', root_path %>
        </p>

      </div>
      <div class="col-md-2 image hidden">
        <%= image_tag("contacto.JPG", :alt => "Descolga2") %>
      </div>
    </div>
    <div class="separator"></div>
  </div>
</div>
