@import 'variables';
.nosotros{
  .box{
    position: relative;
    float:left;
    width:100%;
    height:auto;
    margin-bottom:40px;
    img{
      margin-top:40px;
      width:100%;
      border-radius:3px;
    }
    .text{
      margin-top:40px;

      .title{
        float:left;
        width:100%;
        display:block;
        text-align:center;
        margin:20px 0px;
        font-family: 'Gotham Medium';
      }
      p{
        text-align:justify;
        font-size:18px;
      }
    }
    .blocks{
      text-align:center;
      margin-top:40px;
      .title{
        font-family: 'Gotham Medium';
        margin:20px 0px;
      }
      p{
        font-size:18px;
      }
    }
    .items{
      .item{
        width:100%;
        min-height:280px;
        float:left;
        background: $color-amarillo;
        text-align:justify;
        .title{
          font-size:30px;
          text-align:center;
        }
        p{
          margin:20px;
          font-size:16px;
        }
      }
    }
  }

}
@media screen and (max-width: 1200px){
  .item{
    min-height:350px !important;
  }
}
@media screen and (max-width: 768px){
  .item{
    min-height:auto !important;
  }
}
