@import 'variables';
.contact{
  .title{
    font-size:24px;
  }
  .box{
    margin:40px 0px;
    a{
      color: $color-negro;
    }
    b{
      font-family: 'Gotham Bold';
    }
    input, textarea{
      width:100%;
      margin:5px 0px;
      height:35px;
      padding-left:5px;
      border:1px solid rgb(238, 238, 238);
      &:focus{
        outline:0px;
        border:1px solid $color-negro;
      }
    }
    textarea{
      height:100px;

    }
    .image{
      img{
        width:100%;
      }
    }
    .btn-primary{
      background: $color-negro;
      color: $color-amarillo;
      font-size:18px;
      margin-top:10px;
    }
    // .alert{
    //   background: $color-amarillo;
    // }
  }
}
@media screen and (max-width: 764px){
  .title{
    text-align:center;
  }
  .text{
    margin-top: 20px;

  }
}
