@font-face {
    font-family: 'Gotham Light';
    src: url('gotham-light.ttf');
}
@font-face {
    font-family: 'Gotham Medium';
    src: url('gotham-medium.ttf');
}
@font-face {
    font-family: 'Gotham Bold';
    src: url('gotham-bold.ttf');
}
