@import 'variables';
footer{
  position:relative;
  display: block;
  float:left;
  clear:both;
  width:100%;
  a{
    color: $color-negro;
  }
  &.bottom-footer{
    background: rgba($color-negro, .9);
    color: $color-blanco;
    min-height:50px;
    padding:15px 0px;
    a{
      color: $color-blanco;
    }
  }
  .item{
    padding:20px;
    .title{
      text-align:center;
      background: $color-amarillo;
      font-size:24px;
      padding:5px;
      font-family: 'Gotham Medium';
    }

    span{
      position:relative;
      float:left;
      clear:left;
      width:30px;
      height:30px;
      margin-right:10px;
      .icon{
        margin-top:0px;
        width:30px;

      }
    }
    &.contact{
      ul{
        list-style: none;
        padding:10px;
        li{
          height:50px;
          padding-top:0px;

        }
      }
    }
    p{
      text-align:justify;
    }
    img{
      margin-top:20px;
    }
  }
}
@media screen and (max-width: 768px){
  .item:last-child{
    padding:0 !important;
    margin-bottom:40px;
    text-align:center;
  }
  .bottom-footer{
    .copy{
      text-align:center;
      padding-bottom:10px;
    }
  }
}
