@import 'variables';
a{
  color: $color-blanco;
}
nav{
  font-family: 'Gotham Medium';
  letter-spacing: 2px;
  font-size:12px;

  .container-fluid{
    padding-right:0;
  }
  .tit-logo{
    width:auto;
    position:relative;
    display:block;
    float:left;
    padding:15px;
    padding-bottom:0;
    font-size:18px;
    color: $color-amarillo;
    font-family: 'Gotham Bold';
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
  }
  &.navbar{
    border:0px;
    border-radius: 0;
    border-bottom: 1px solid $color-blanco;
    margin-bottom:0;
    height:130px;
    background: $color-negro;
    color: $color-blanco;
    .navbar-collapse{
      margin-top:80px;
    }
    .pull-right{
      margin-right:0;
    }
    .navbar-brand{
      width:400px;
      height:129px;
      padding-top:0;
      padding-right:100px;
      background: url(image-path('fondo-header.png'));
      img{
        position:absolute;
        right:100px;
        z-index:1000;
      }
    }
    .navbar-nav{
      li{

        a{
          color: $color-blanco !important;
          &:hover, &:active{
            background: none;
            cursor: pointer;
            color: $color-amarillo !important;
          }
        }
        &.active{
          &::after{
            content: url(image-path('active.png'));
            height:20px;
            display:block;
            margin-top:-16px;
            text-align:center;
          }
          a{
            color: $color-amarillo !important;
            background: none;
            &:hover{
              background: none;
            }
          }
        }

      }

    }
  }
}
@media screen and (max-width: 768px){
  .no-transition {
    -webkit-transition: height 0;
    -moz-transition: height 0;
    -ms-transition: height 0;
    -o-transition: height 0;
    transition: height 0;
  }
  .container-fluid{
    padding:0 !important;
  }
  .navbar-toggle{
    color: $color-blanco;
    &:hover, &:active, &:focus{
      background: $color-amarillo !important;
    }
  }
  .navbar{
    height:50px !important;
    z-index:100000;


    .navbar-collapse.in{
      z-index:10000;
      margin:0 !important;
      border:0px !important;
      margin-left:-15px;
      width:100%;
      background: $color-negro;


    }
  }
  .navbar-nav{
    li{
      &.active{
        &::after{
          display: none !important;
        }
      }
    }
  }
}
