@import 'variables';
body{
  font-family: 'Gotham Light';
}
.page{
  position: relative;
}
.slide{
  position:relative;
  display:block;
  float:left;
  margin-top:-4px;
  width:100%;
  height:auto;
  .box{
    position:absolute;
    z-index:10;
    display:block;
    bottom:10%;
    left:5%;
    width:600px;
    max-height:400px;
    padding:50px;
    background: rgba($color-blanco, .8);
    .title{
      font-family: 'Gotham Bold';
    }

  }
  img{
    width:100%;
    float:left;
  }
}
.block{
  position:relative;
  display: block;
  float:left;
  width:100%;
  margin:50px 0px;
  img{
    width:40%;
  }
  .title{
    font-family: 'Gotham Medium';
    text-align:center;
    font-size: 34px;

  }
  .sub-title{
    text-align:center;
    font-size:26px;
    padding-top:20px;
  }
  .items{
    margin-top:50px;
    .item{
      text-align:center;
      h3{
        font-size:40px;
      }
      .btn-primary{
        background: $color-negro;
        color: $color-amarillo;
        font-size:18px;
        margin-top:10px;
      }
    }
  }
}
@media screen and (max-width: 768px){
  .slide{
    .box{
      display:block !important;
      position:relative !important;
      float:left !important;
      background: $color-blanco !important;
      padding:10px !important;
      width:100% !important;
    }
  }
}
