@import 'variables';
.separator{
  position:relative;
  display:block;
  float:left;
  width:100%;
  height:5px;
  background: $color-negro;
  margin:20px 0px;
  &.min{
    margin-top:-10px;
    height:2px;
  }
}
.scrollToTop{
	width:50px;
	height:50px;
  padding-top:15px;
	text-align:center;
	color: $color-blanco;
	text-decoration: none;
	position:fixed;
	bottom:75px;
	right:40px;
	display:none;
	background: $color-negro;
  z-index:10000;
  border:1px solid $color-blanco;
  &:hover{
	  text-decoration:none;
    color: $color-blanco;
    transform: scale(1.1,1.1);
  }
}
.servicio{
  .separator{
    background: $color-amarillo !important;
  }
  .box{
    padding-top:50px;
    .text{
      margin-top:0px;
      b{
        font-family: 'Gotham Medium';
      }
      .inner{
        padding-left:20px;
      }
      .title{
        font-size:18px;
        font-family: 'Gotham Medium';
      }
      .list{
        padding:10px;
        list-style: none;
        float:left;
        position:relative;
        width:100%;
        li{
          font-family: 'Gotham Medium';
          width:100%;
          margin-top:15px;
          font-size:14px;
          height:auto;
          float:left;
          position:relative;
          a{
            color: $color-negro;
          }
          span{
            font-family: 'Gotham Light';
            float:left;
            clear:both;
            font-size:12px;
          }
        }
      }
    }
    .image{
      position:relative;
      display:block;
      float:left;

      img{
        width:100%;
        //border:2px solid $color-negro;
        border-radius:3px;
        &.logo{
          position:absolute;
          z-index:100;
          bottom:0;
          right:15px;
          width:50px;
          display:none;

        }
      }
    }
  }
}
