@import 'variables';
.trabajos{
  .head{
    text-align:left;
    margin-top:40px;
    .title{
      font-family: 'Gotham Medium';
      margin:20px 0px;
      span{
        padding-left: 20px;
        a{
          font-size:16px;
          color: #333;
          text-decoration: underline;
          &:hover{
            color: $color-negro;
          }
        }
      }

    }
    p{
      font-size:18px;
    }
  }
  .category{
    .titulo{
      margin-top:40px;

    }
    .title{
      text-decoration: underline;
      a{

        color: $color-negro;
      }
    }
  }
  .images{
    display: flex;
    flex-wrap: wrap;
    .item{
      position:relative;
      display: inline-block;
      margin-bottom: 0px;
      width: calc(25% - 4px);
      a{
        &:focus, &:active{
          outline: 0px;
        }
        img{

        }
      }

    }

  }

}
.modal-img{
  width:100%;
}
