<footer>
  <div class="container">
    <div class="col-md-3 item">
      <h2 class="title"><%= link_to 'NOSOTROS', nosotros_path %></h2>
      <p>
        Somos una empresa de restauración y rehabilitación de edificios especializados en trabajos verticales.
        Con mas de 10 años de experiencia en el sector. Nos diferenciamos por un trato personalizado, adaptado a las necesidades de cada cliente y proyecto.
        <!-- Siempre investigando y formándonos en nuevos métodos de trabajo. -->
      </p>
    </div>
    <div class="col-md-3 item">
      <h2 class="title"><%= link_to 'SERVICIOS', servicios_path %></h2>
      <p>
        Rehabilitación de fachadas, patios, tejados y cubiertas. Reparacion de forjados Impermeabilización de cubiertas y medianeras. Renovación de bajantes y canalones.
Reparaciones Urgentes. Colocación de redes protectoras, lonas y pancartas.
      </p>
    </div>
    <div class="col-md-3 item contact">
      <h2 class="title"><%= link_to 'CONTACTO', contacto_path %></h2>
      <ul>
        <li><span><%= image_tag("location.png", :alt => "Descolga2", :class => "icon") %></span>
          C/ Fermín y Galan, 98, 46100 Burjassot, Valencia</li>
        <li style="line-height:30px;"><span><%= image_tag("tel.png", :alt => "Descolga2", :class => "icon") %></span>
          622 184 190</li>
        <li style="line-height:30px;"><span><%= image_tag("email.png", :alt => "Descolga2", :class => "icon") %></span>
          <a href="mailto:info@descolga2.com"> info@descolga2.com</a></li>
      </ul>
    </div>
    <div class="col-md-3 item">
      <%= image_tag("loorke.png", :alt => "Loorke") %>
    </div>

  </div>
</footer>
<footer class="bottom-footer">
  <div class="container">
    <div class="col-md-9 col-xs-12 copy">
      <span>&copy; 2016 Descolga2.com | Todos los derechos reservados | <a href="#">Aviso Legal</a></span>
    </div>
    <div class="col-md-3 col-xs-12 text-center">  <span> Developed with <span class="fa fa-heart"></span> By <a href="https://github.com/kloppz">@kloppz</a></span></div>

  </div>
</footer>
<script type="text/javascript">
$(function() { $.support.transition = false; })

</script>
