<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header pull-right">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand hidden-xs" href="#"><%= image_tag("logo_amarillo.png", :alt => "Descolga2") %></a>
    </div>
    <%= link_to 'Descolga2.com', root_path, :class=> 'tit-logo visible-xs' %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class='<%= (current_page?(root_path) ? "active" : "") %>'><%= link_to "INICIO", root_path %></li>
        <li class='<%= (current_page?(nosotros_path) ? "active" : "") %>'><%= link_to "NOSOTROS", nosotros_path %></li>
        <li class='<%= (current_page?(servicios_path) ? "active" : "") %>'><%= link_to "SERVICIOS", servicios_path %></li>
        <li class='<%= (current_page?(galerias_path) ? "active" : "") %>' ><%= link_to "TRABAJOS", galerias_path %></li>
        <li class='<%= (current_page?(contacto_path) ? "active" : "") %>'><%= link_to "CONTACTO", contacto_path %></li>

      </ul>
    </div>
  </div>
</nav>
